<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="nacl" type="NAcl.Configuration.AclConfigurationSection, NAcl"/>
  </configSections>
  <connectionStrings>
    <add name="Acl" connectionString="Data Source=.; Initial Catalog=NAcl; Integrated Security=true"/>
  </connectionStrings>
  <nacl defaultProvider="default">
    <providers>
      <add name="default" type="NAcl.Providers.RouterProvider, NAcl" providers="urls/travel"  />
      <add name="urls" type="NAcl.Providers.MemoryProvider, NAcl"  />
    </providers>
    <rights>
      <allow resource="/travel" verb="read" subject="s.ros" />
    </rights>
  </nacl>
</configuration>